<div class="col d-flex jusitfy-content-center" style="display: inline-flexbox; ">
    <div class="card" style="width: 40%; margin-left: auto; margin-right: auto;">
        <div class="card-header">
<h2> Register</h2>
        </div>
        <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="mb-3">
            <input type="text" formControlName="username" name="username" class="form-control" [(ngModel)]="user.username"
            [ngClass]="{'is-invalid': f.username.touched && f.username.invalid }" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="f.username.touched && f.username.invalid" class="invalid-feedback">
              <div *ngIf="f.username.errors?.required">Email is required</div>
              <div *ngIf="f.username.errors?.minlength"> Minimum of 4 characters are required</div>
              <div *ngIf="f.username.errors?.pattern">Enter a valid</div>
          </div> 
        </div>

        <div class="mb-3">
            <input type="password" formControlName="password" name="password" class="form-control" [(ngModel)]="user.password"
            [ngClass]="{'is-invalid': f.password.touched && f.password.invalid }" placeholder="Password">
            <div *ngIf="f.password.touched && f.password.invalid" class="invalid-feedback">
              <div *ngIf="f.password.errors?.required">Password is required</div>
              <div *ngIf="f.password.errors?.minlength"> Minimum of 6 characters are required</div>
          </div> 
        </div>
        

        <div class="mg-3">
            <input type="submit" class="btn btn-lg btn-success" value="Register" [disabled]="!userForm.valid"> 
        </div>

    </form>
        </div>
    </div>
    </div>